In [1]:
import numpy as np

In [40]:
def binom_tree(N,T,S0,sigma,r,K,call=True,array_out=False):
    dt=T/N
    u=np.exp((sigma*np.sqrt(dt)))
    d=1/u
    p=(np.exp(r*dt)-d)/(u-d)
    
    price_tree=np.zeros([N+1,N+1])
    
    for i in range(N+1):
        for j in range(i+1):
            price_tree[j,i]=S0*(d**j)*(u**(i-j))
            
    option=np.zeros([N+1,N+1])
    if call:
        
        option[:,N]=np.maximum(np.zeros(N+1),price_tree[:,N]-K)
    else:
        option[:,N]=np.maximum(np.zeros(N+1),K-price_tree[:,N])
    
    for i in np.arange(N-1,-1,-1):
        for j in np.arange(0,i+1):
            option[j,i]=np.exp(-r*dt)*(p*option[j,i+1]+(1-p)*option[j+1,i+1])
            
    if array_out:
        return [option[0,0],price_tree,option]
    else:
        return option[0,0]

In [42]:
binom_tree(200,0.083,1390,0.,0.0149,1060,call=True,array_out=False)

C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """
C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in double_scalars

nan

In [8]:
import pandas as pd

In [6]:
file1='AMZNcalloptk-iv3-23.csv'

In [232]:
data_1=pd.read_csv(file1)
data1=data_1.head(20)
data1

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180323C01060000,2018-02-02 11:46PM EST,1060.0,385.90,373.70,378.70,92.12%
1,AMZN180323C01070000,2018-02-02 11:46PM EST,1070.0,396.30,363.85,368.85,90.16%
2,AMZN180323C01100000,2018-02-02 11:46PM EST,1100.0,379.70,334.45,339.45,84.42%
3,AMZN180323C01170000,2018-02-02 11:46PM EST,1170.0,261.55,266.90,271.90,71.89%
4,AMZN180323C01190000,2018-02-05 12:22PM EST,1190.0,258.05,226.20,231.20,53.17%
5,AMZN180323C01200000,2018-02-05 9:32AM EST,1200.0,214.75,218.60,223.55,53.13%
6,AMZN180323C01240000,2018-02-05 10:10AM EST,1240.0,212.00,182.80,187.60,50.16%
7,AMZN180323C01250000,2018-02-05 2:58PM EST,1250.0,179.65,174.90,179.90,49.71%
8,AMZN180323C01270000,2018-02-05 2:52PM EST,1270.0,173.70,157.90,162.90,47.63%
9,AMZN180323C01290000,2018-02-02 11:46PM EST,1290.0,178.50,159.85,164.20,54.58%
10,AMZN180323C01310000,2018-02-05 9:43AM EST,1310.0,127.70,128.85,133.65,45.55%
11,AMZN180323C01340000,2018-02-05 1:37PM EST,1340.0,129.75,109.90,113.85,44.34%
12,AMZN180323C01350000,2018-02-05 11:40AM EST,1350.0,122.33,103.65,107.00,43.65%
13,AMZN180323C01360000,2018-02-05 12:34PM EST,1360.0,120.20,97.95,102.30,43.97%
14,AMZN180323C01370000,2018-02-05 1:31PM EST,1370.0,108.10,90.95,95.50,43.13%
15,AMZN180323C01400000,2018-02-05 1:44PM EST,1400.0,90.44,74.65,78.20,41.65%
16,AMZN180323C01415000,2018-02-05 3:05PM EST,1415.0,70.00,67.30,71.25,41.45%
17,AMZN180323C01425000,2018-02-05 2:52PM EST,1425.0,71.40,62.65,66.80,41.29%
18,AMZN180323C01430000,2018-02-05 2:48PM EST,1430.0,69.77,60.60,64.90,41.34%
19,AMZN180323C01432500,2018-02-05 2:55PM EST,1432.5,61.50,59.40,63.70,41.23%

In [12]:
file2='AMZNcalloptk-iv4-20.csv'
data_2=pd.read_csv(file2)
data_2=data_2.head(20)
iv2_float = data_2['implied_volatility'].str.strip("%").astype(float)/100
data_2['implied_volatility']=iv2_float
data_2

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180420C00620000,2018-01-25 3:11PM EST,620.0,750.00,782.25,786.75,1.1916
1,AMZN180420C00640000,2018-01-16 10:06AM EST,640.0,688.40,656.00,660.70,0.0000
2,AMZN180420C00660000,2018-01-16 3:08PM EST,660.0,653.10,636.00,640.80,0.0000
3,AMZN180420C00680000,2018-02-02 3:12PM EST,680.0,757.35,752.95,757.95,1.4723
4,AMZN180420C00700000,2018-02-05 11:41AM EST,700.0,742.35,706.10,714.90,1.1274
5,AMZN180420C00720000,2018-02-02 3:10PM EST,720.0,711.80,713.25,718.25,1.3799
6,AMZN180420C00740000,2018-02-05 11:41AM EST,740.0,702.60,665.60,670.60,1.0172
7,AMZN180420C00760000,2018-02-02 3:13PM EST,760.0,679.60,673.55,678.55,1.2924
8,AMZN180420C00780000,2018-02-05 11:41AM EST,780.0,662.90,626.40,635.50,0.9833
9,AMZN180420C00800000,2018-02-02 3:12PM EST,800.0,638.05,633.75,638.75,1.2085
10,AMZN180420C00820000,2017-08-25 10:57PM EST,820.0,169.40,183.15,186.90,0.0000
11,AMZN180420C00835000,2017-12-01 9:49AM EST,835.0,345.25,335.60,340.50,0.0000
12,AMZN180420C00840000,2018-01-09 1:51PM EST,840.0,416.05,468.95,472.05,0.0000
13,AMZN180420C00845000,2017-11-28 1:52PM EST,845.0,360.00,324.75,329.50,0.0000
14,AMZN180420C00860000,2018-02-02 9:43AM EST,860.0,623.00,574.35,579.35,1.0921
15,AMZN180420C00870000,2017-10-10 9:42AM EST,870.0,330.75,306.40,310.75,0.0000
16,AMZN180420C00875000,2018-02-01 10:31AM EST,875.0,556.70,559.40,564.40,1.0633
17,AMZN180420C00880000,2017-12-29 10:02AM EST,880.0,308.06,296.60,301.50,0.0000
18,AMZN180420C00885000,2018-01-09 3:03PM EST,885.0,376.50,424.55,427.60,0.0000
19,AMZN180420C00890000,2017-10-10 9:42AM EST,890.0,136.15,129.15,132.15,0.0000

In [13]:
file3='AMZNcalloptk-iv6-15.csv'
data_3=pd.read_csv(file3)
data_3=data_3.head(20)
iv3_float = data_3['implied_volatility'].str.strip("%").astype(float)/100
data_3['implied_volatility']=iv3_float
data_3

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180615C00420000,2018-01-11 1:18PM EST,420.0,851.35,887.20,891.30,0.0000
1,AMZN180615C00430000,2018-01-11 1:18PM EST,430.0,841.45,877.25,881.40,0.0000
2,AMZN180615C00440000,2018-02-05 10:10AM EST,440.0,1003.90,953.30,958.30,1.0385
3,AMZN180615C00450000,2018-02-02 9:54AM EST,450.0,1007.60,983.85,988.85,1.6646
4,AMZN180615C00460000,2018-01-10 10:35AM EST,460.0,787.85,847.55,851.70,0.0000
5,AMZN180615C00470000,2018-02-02 9:42AM EST,470.0,1010.85,964.00,969.00,1.6079
6,AMZN180615C00480000,2018-02-05 10:12AM EST,480.0,965.90,913.75,918.75,0.9780
7,AMZN180615C00490000,2017-12-01 11:45PM EST,490.0,686.45,676.00,681.00,0.0000
8,AMZN180615C00500000,2018-01-17 12:07PM EST,500.0,798.85,797.50,802.00,0.0000
9,AMZN180615C00520000,2018-02-02 1:04PM EST,520.0,944.45,914.50,919.50,1.4789
10,AMZN180615C00540000,2018-02-02 9:46AM EST,540.0,932.25,894.70,899.70,1.4312
11,AMZN180615C00560000,2017-12-04 4:26PM EST,560.0,585.10,579.55,584.40,0.0000
12,AMZN180615C00580000,2017-12-04 9:34AM EST,580.0,592.45,560.00,563.90,0.0000
13,AMZN180615C00600000,2018-02-02 3:58PM EST,600.0,838.05,835.65,840.65,1.3022
14,AMZN180615C00620000,2018-01-18 3:37PM EST,620.0,679.37,678.50,683.30,0.0000
15,AMZN180615C00640000,2017-12-04 10:57AM EST,640.0,499.95,501.70,506.60,0.0000
16,AMZN180615C00650000,2017-10-27 10:39AM EST,650.0,449.25,458.65,463.35,0.0000
17,AMZN180615C00660000,2018-02-02 1:04PM EST,660.0,805.90,776.00,781.00,1.1813
18,AMZN180615C00670000,2018-01-08 9:32AM EST,670.0,573.00,639.95,644.05,0.0000
19,AMZN180615C00685000,2017-12-04 4:26PM EST,685.0,458.45,457.90,462.05,0.0000

In [14]:
file4='AMZNputoptk-iv3-23.csv'
data_4=pd.read_csv(file4)
data_4=data_4.head(20)
iv4_float = data_4['implied_volatility'].str.strip("%").astype(float)/100
data_4['implied_volatility']=iv4_float
data_4

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180323P01060000,2018-02-05 2:18PM EST,1060.0,1.99,2.21,3.85,0.4519
1,AMZN180323P01130000,2018-02-05 11:40AM EST,1130.0,2.80,5.10,6.75,0.4117
2,AMZN180323P01170000,2018-02-05 12:55PM EST,1170.0,4.24,7.45,9.80,0.3950
3,AMZN180323P01180000,2018-02-02 11:48PM EST,1180.0,5.67,5.25,6.20,0.3361
4,AMZN180323P01190000,2018-02-02 11:48PM EST,1190.0,4.50,5.40,6.90,0.3319
5,AMZN180323P01200000,2018-02-05 2:50PM EST,1200.0,8.50,10.20,13.55,0.3891
6,AMZN180323P01240000,2018-02-05 3:06PM EST,1240.0,17.95,16.00,20.30,0.3815
7,AMZN180323P01250000,2018-02-05 2:07PM EST,1250.0,11.00,17.50,22.00,0.3771
8,AMZN180323P01260000,2018-02-05 2:54PM EST,1260.0,17.78,19.20,23.50,0.3705
9,AMZN180323P01270000,2018-02-05 2:24PM EST,1270.0,15.20,21.15,25.95,0.3695
10,AMZN180323P01280000,2018-02-05 9:43AM EST,1280.0,21.82,23.30,28.05,0.3650
11,AMZN180323P01300000,2018-02-05 1:19PM EST,1300.0,20.35,28.15,32.90,0.3574
12,AMZN180323P01310000,2018-02-05 2:22PM EST,1310.0,21.90,30.95,35.70,0.3542
13,AMZN180323P01320000,2018-02-05 2:22PM EST,1320.0,24.55,33.70,38.50,0.3500
14,AMZN180323P01330000,2018-02-05 10:54AM EST,1330.0,20.93,36.90,41.65,0.3467
15,AMZN180323P01340000,2018-02-05 9:43AM EST,1340.0,38.50,40.80,45.15,0.3442
16,AMZN180323P01350000,2018-02-05 2:22PM EST,1350.0,32.92,43.85,48.60,0.3404
17,AMZN180323P01360000,2018-02-05 2:22PM EST,1360.0,36.00,47.85,52.65,0.3385
18,AMZN180323P01370000,2018-02-05 10:03AM EST,1370.0,41.60,51.55,56.30,0.3334
19,AMZN180323P01380000,2018-02-05 11:34AM EST,1380.0,35.13,56.75,61.10,0.3330

In [15]:
file5='AMZNputoptk-iv4-20.csv'
data_5=pd.read_csv(file5)
data_5=data_5.head(20)
iv5_float = data_5['implied_volatility'].str.strip("%").astype(float)/100
data_5['implied_volatility']=iv5_float
data_5

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180420P00620000,2018-02-01 3:36PM EST,620.0,0.40,0.05,5.00,0.8615
1,AMZN180420P00640000,2018-01-26 3:50PM EST,640.0,0.16,0.00,0.16,0.5635
2,AMZN180420P00660000,2018-01-05 3:16PM EST,660.0,0.44,0.01,0.74,0.6279
3,AMZN180420P00680000,2018-02-05 9:56AM EST,680.0,0.18,0.00,1.87,0.6721
4,AMZN180420P00700000,2018-01-24 3:02PM EST,700.0,0.25,0.00,0.82,0.5872
5,AMZN180420P00720000,2018-02-05 1:54PM EST,720.0,0.31,0.10,1.97,0.6306
6,AMZN180420P00740000,2018-01-12 3:49PM EST,740.0,0.39,0.25,0.89,0.5637
7,AMZN180420P00760000,2018-02-02 12:56PM EST,760.0,0.30,0.00,5.00,0.6614
8,AMZN180420P00780000,2018-02-01 2:37PM EST,780.0,0.81,0.00,2.14,0.5627
9,AMZN180420P00800000,2018-02-05 2:36PM EST,800.0,0.45,0.45,2.30,0.5592
10,AMZN180420P00820000,2018-01-30 1:42PM EST,820.0,0.69,0.00,2.32,0.5242
11,AMZN180420P00835000,2018-02-05 10:21AM EST,835.0,0.43,0.00,2.47,0.5123
12,AMZN180420P00840000,2018-02-02 10:21AM EST,840.0,0.52,0.00,5.00,0.5631
13,AMZN180420P00845000,2018-02-05 10:21AM EST,845.0,0.51,0.19,2.60,0.5103
14,AMZN180420P00860000,2018-01-31 1:22PM EST,860.0,0.86,0.00,5.00,0.5399
15,AMZN180420P00870000,2018-02-02 10:18AM EST,870.0,0.56,0.44,1.58,0.4923
16,AMZN180420P00875000,2018-01-16 12:40PM EST,875.0,1.12,0.86,1.91,0.5010
17,AMZN180420P00880000,2018-01-26 3:11PM EST,880.0,1.20,0.34,1.55,0.4802
18,AMZN180420P00885000,2018-01-02 9:49AM EST,885.0,3.30,1.77,2.13,0.4985
19,AMZN180420P00890000,2018-02-05 2:58PM EST,890.0,1.60,0.63,2.94,0.5198

In [17]:
file6='AMZNputoptk-iv6-15.csv'
data_6=pd.read_csv(file6)
data_6=data_6.head(20)
iv6_float = data_6['implied_volatility'].str.strip("%").astype(float)/100
data_6['implied_volatility']=iv6_float
data_6

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180615P00420000,2018-02-05 9:52AM EST,420.0,0.10,0.04,0.20,0.6709
1,AMZN180615P00430000,2018-01-22 10:46AM EST,430.0,0.10,0.00,0.33,0.6777
2,AMZN180615P00440000,2018-01-23 12:07PM EST,440.0,0.05,0.00,0.35,0.6680
3,AMZN180615P00450000,2018-01-16 3:15PM EST,450.0,0.09,0.00,0.35,0.6553
4,AMZN180615P00460000,2018-01-23 12:07PM EST,460.0,0.08,0.00,0.41,0.6528
5,AMZN180615P00470000,2018-02-02 3:57PM EST,470.0,0.25,0.00,0.30,0.6226
6,AMZN180615P00480000,2018-01-23 12:08PM EST,480.0,0.11,0.00,0.49,0.6397
7,AMZN180615P00490000,2018-02-02 3:51PM EST,490.0,0.25,0.00,0.91,0.6687
8,AMZN180615P00500000,2018-02-02 3:51PM EST,500.0,0.30,0.10,0.70,0.6475
9,AMZN180615P00520000,2017-12-20 1:17PM EST,520.0,0.45,0.00,0.74,0.6187
10,AMZN180615P00540000,2018-02-05 9:30AM EST,540.0,0.45,0.00,2.38,0.6823
11,AMZN180615P00560000,2018-01-23 11:58AM EST,560.0,0.40,0.00,0.79,0.5784
12,AMZN180615P00580000,2018-01-12 11:10AM EST,580.0,0.30,0.00,0.59,0.5405
13,AMZN180615P00600000,2018-02-05 10:09AM EST,600.0,0.50,0.05,1.57,0.5825
14,AMZN180615P00620000,2018-01-23 12:15PM EST,620.0,0.45,0.05,0.94,0.5300
15,AMZN180615P00640000,2018-01-12 9:30AM EST,640.0,0.24,0.18,0.78,0.5088
16,AMZN180615P00650000,2018-02-02 9:53AM EST,650.0,0.82,0.36,1.33,0.5335
17,AMZN180615P00660000,2018-01-22 3:08PM EST,660.0,0.68,0.00,1.08,0.5399
18,AMZN180615P00670000,2018-02-05 11:32AM EST,670.0,0.58,0.02,2.77,0.5480
19,AMZN180615P00680000,2018-02-02 3:00PM EST,680.0,0.76,0.53,1.53,0.5167

In [234]:
iv1_float = data1['implied_volatility'].str.strip("%").astype(float)/100

In [20]:
data_1['implied_volatility']=iv1_float

In [23]:
data_1=data_1.head(20)
data_1

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility
0,AMZN180323C01060000,2018-02-02 11:46PM EST,1060.0,385.90,373.70,378.70,0.9212
1,AMZN180323C01070000,2018-02-02 11:46PM EST,1070.0,396.30,363.85,368.85,0.9016
2,AMZN180323C01100000,2018-02-02 11:46PM EST,1100.0,379.70,334.45,339.45,0.8442
3,AMZN180323C01170000,2018-02-02 11:46PM EST,1170.0,261.55,266.90,271.90,0.7189
4,AMZN180323C01190000,2018-02-05 12:22PM EST,1190.0,258.05,226.20,231.20,0.5317
5,AMZN180323C01200000,2018-02-05 9:32AM EST,1200.0,214.75,218.60,223.55,0.5313
6,AMZN180323C01240000,2018-02-05 10:10AM EST,1240.0,212.00,182.80,187.60,0.5016
7,AMZN180323C01250000,2018-02-05 2:58PM EST,1250.0,179.65,174.90,179.90,0.4971
8,AMZN180323C01270000,2018-02-05 2:52PM EST,1270.0,173.70,157.90,162.90,0.4763
9,AMZN180323C01290000,2018-02-02 11:46PM EST,1290.0,178.50,159.85,164.20,0.5458
10,AMZN180323C01310000,2018-02-05 9:43AM EST,1310.0,127.70,128.85,133.65,0.4555
11,AMZN180323C01340000,2018-02-05 1:37PM EST,1340.0,129.75,109.90,113.85,0.4434
12,AMZN180323C01350000,2018-02-05 11:40AM EST,1350.0,122.33,103.65,107.00,0.4365
13,AMZN180323C01360000,2018-02-05 12:34PM EST,1360.0,120.20,97.95,102.30,0.4397
14,AMZN180323C01370000,2018-02-05 1:31PM EST,1370.0,108.10,90.95,95.50,0.4313
15,AMZN180323C01400000,2018-02-05 1:44PM EST,1400.0,90.44,74.65,78.20,0.4165
16,AMZN180323C01415000,2018-02-05 3:05PM EST,1415.0,70.00,67.30,71.25,0.4145
17,AMZN180323C01425000,2018-02-05 2:52PM EST,1425.0,71.40,62.65,66.80,0.4129
18,AMZN180323C01430000,2018-02-05 2:48PM EST,1430.0,69.77,60.60,64.90,0.4134
19,AMZN180323C01432500,2018-02-05 2:55PM EST,1432.5,61.50,59.40,63.70,0.4123

In [235]:
iv1=np.array(iv1_float)
iv_1=iv1.tolist()
sp1=np.array(data1['strike_price'])
sp_1=sp1.tolist()

In [26]:
iv2=np.array(iv2_float)
iv_2=iv2.tolist()
sp2=np.array(data_2['strike_price'])
sp_2=sp2.tolist()

In [60]:
iv3=np.array(iv3_float)
iv_3=iv3.tolist()
sp3=np.array(data_3['strike_price'])
sp_3=sp3.tolist()

In [66]:
iv4=np.array(iv4_float)
iv_4=iv4.tolist()
sp4=np.array(data_4['strike_price'])
sp_4=sp4.tolist()

In [67]:
iv5=np.array(iv5_float)
iv_5=iv5.tolist()
sp5=np.array(data_5['strike_price'])
sp_5=sp5.tolist()

In [68]:
iv6=np.array(iv6_float)
iv_6=iv6.tolist()
sp6=np.array(data_6['strike_price'])
sp_6=sp6.tolist()

In [192]:
filename='AMZNput1m_binomial.csv'
f=open(filename,'w')

headers='price_binomialEuro\n'
f.write(headers)

for i,j in zip(iv_4,sp_4):
    
    K=j
    sigma=i
    callprice=binom_tree(200,0.083,1390,i,0.0149,j,call=False,array_out=False)

    print(callprice)
    
    f.write(str(callprice)+'\n')

f.close()

1.03787346552
2.35807273958
4.0087483421
2.21748323573
2.6124611554
6.27449854846
10.9160417887
12.1473372339
13.3992555883
15.2014781521
17.0024872608
21.0917140614
23.4396058725
26.0038102368
28.7860750765
32.0541105954
35.2488793512
39.1463345362
42.6539021468
47.3731946516

In [169]:
data_4

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility,price_BS
0,AMZN180323P01060000,2018-02-05 2:18PM EST,1060.0,1.99,2.21,3.85,0.4519,15.328555
1,AMZN180323P01130000,2018-02-05 11:40AM EST,1130.0,2.80,5.10,6.75,0.4117,21.168195
2,AMZN180323P01170000,2018-02-05 12:55PM EST,1170.0,4.24,7.45,9.80,0.3950,26.509444
3,AMZN180323P01180000,2018-02-02 11:48PM EST,1180.0,5.67,5.25,6.20,0.3361,18.759309
4,AMZN180323P01190000,2018-02-02 11:48PM EST,1190.0,4.50,5.40,6.90,0.3319,19.996128
5,AMZN180323P01200000,2018-02-05 2:50PM EST,1200.0,8.50,10.20,13.55,0.3891,32.542581
6,AMZN180323P01240000,2018-02-05 3:06PM EST,1240.0,17.95,16.00,20.30,0.3815,42.214017
7,AMZN180323P01250000,2018-02-05 2:07PM EST,1250.0,11.00,17.50,22.00,0.3771,44.377212
8,AMZN180323P01260000,2018-02-05 2:54PM EST,1260.0,17.78,19.20,23.50,0.3705,46.137814
9,AMZN180323P01270000,2018-02-05 2:24PM EST,1270.0,15.20,21.15,25.95,0.3695,49.289999
10,AMZN180323P01280000,2018-02-05 9:43AM EST,1280.0,21.82,23.30,28.05,0.3650,51.749594
11,AMZN180323P01300000,2018-02-05 1:19PM EST,1300.0,20.35,28.15,32.90,0.3574,57.359890
12,AMZN180323P01310000,2018-02-05 2:22PM EST,1310.0,21.90,30.95,35.70,0.3542,60.507596
13,AMZN180323P01320000,2018-02-05 2:22PM EST,1320.0,24.55,33.70,38.50,0.3500,63.535541
14,AMZN180323P01330000,2018-02-05 10:54AM EST,1330.0,20.93,36.90,41.65,0.3467,66.933144
15,AMZN180323P01340000,2018-02-05 9:43AM EST,1340.0,38.50,40.80,45.15,0.3442,70.688455
16,AMZN180323P01350000,2018-02-05 2:22PM EST,1350.0,32.92,43.85,48.60,0.3404,74.249523
17,AMZN180323P01360000,2018-02-05 2:22PM EST,1360.0,36.00,47.85,52.65,0.3385,78.476105
18,AMZN180323P01370000,2018-02-05 10:03AM EST,1370.0,41.60,51.55,56.30,0.3334,81.991630
19,AMZN180323P01380000,2018-02-05 11:34AM EST,1380.0,35.13,56.75,61.10,0.3330,86.954216

In [168]:
file11='AMZNput1m.csv'
data_11=pd.read_csv(file11)
data_1['price']=data_11
data_1

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility,price_BS,price
0,AMZN180323C01060000,2018-02-02 11:46PM EST,1060.0,385.90,373.70,378.70,0.9212,15.328555,1.037873
1,AMZN180323C01070000,2018-02-02 11:46PM EST,1070.0,396.30,363.85,368.85,0.9016,21.168195,2.358073
2,AMZN180323C01100000,2018-02-02 11:46PM EST,1100.0,379.70,334.45,339.45,0.8442,26.509444,4.008748
3,AMZN180323C01170000,2018-02-02 11:46PM EST,1170.0,261.55,266.90,271.90,0.7189,18.759309,2.217483
4,AMZN180323C01190000,2018-02-05 12:22PM EST,1190.0,258.05,226.20,231.20,0.5317,19.996128,2.612461
5,AMZN180323C01200000,2018-02-05 9:32AM EST,1200.0,214.75,218.60,223.55,0.5313,32.542581,6.274499
6,AMZN180323C01240000,2018-02-05 10:10AM EST,1240.0,212.00,182.80,187.60,0.5016,42.214017,10.916042
7,AMZN180323C01250000,2018-02-05 2:58PM EST,1250.0,179.65,174.90,179.90,0.4971,44.377212,12.147337
8,AMZN180323C01270000,2018-02-05 2:52PM EST,1270.0,173.70,157.90,162.90,0.4763,46.137814,13.399256
9,AMZN180323C01290000,2018-02-02 11:46PM EST,1290.0,178.50,159.85,164.20,0.5458,49.289999,15.201478
10,AMZN180323C01310000,2018-02-05 9:43AM EST,1310.0,127.70,128.85,133.65,0.4555,51.749594,17.002487
11,AMZN180323C01340000,2018-02-05 1:37PM EST,1340.0,129.75,109.90,113.85,0.4434,57.359890,21.091714
12,AMZN180323C01350000,2018-02-05 11:40AM EST,1350.0,122.33,103.65,107.00,0.4365,60.507596,23.439606
13,AMZN180323C01360000,2018-02-05 12:34PM EST,1360.0,120.20,97.95,102.30,0.4397,63.535541,26.003810
14,AMZN180323C01370000,2018-02-05 1:31PM EST,1370.0,108.10,90.95,95.50,0.4313,66.933144,28.786075
15,AMZN180323C01400000,2018-02-05 1:44PM EST,1400.0,90.44,74.65,78.20,0.4165,70.688455,32.054111
16,AMZN180323C01415000,2018-02-05 3:05PM EST,1415.0,70.00,67.30,71.25,0.4145,74.249523,35.248879
17,AMZN180323C01425000,2018-02-05 2:52PM EST,1425.0,71.40,62.65,66.80,0.4129,78.476105,39.146335
18,AMZN180323C01430000,2018-02-05 2:48PM EST,1430.0,69.77,60.60,64.90,0.4134,81.991630,42.653902
19,AMZN180323C01432500,2018-02-05 2:55PM EST,1432.5,61.50,59.40,63.70,0.4123,86.954216,47.373195

In [32]:
#use BS formula
from scipy.stats import norm
import math

In [139]:
r=0.0149 
T=0.25
S0=1390

def C(sigma):
    d1=(np.log(S0/K)+(r+sigma**2/2)*T)/(sigma*np.sqrt(T))
    d2=d1-sigma*np.sqrt(T)
    C=S0*norm.cdf(d1)-K*norm.cdf(d2)
    return C

In [185]:
filename='AMZNput1m_1.csv'
f=open(filename,'w')

headers='price_BS\n'
f.write(headers)

for i,j in zip(iv_4,sp_4):
    
    K=j
    sigma=i
    callprice_1=P(i)

    print(callprice_1)
    
    f.write(str(callprice_1)+'\n')

f.close()

1.07254372179
2.42456167036
4.1125178604
2.31214925984
2.69270574337
6.42768043473
11.1430898336
12.4453498349
13.6619911086
15.5900167111
17.3239664474
21.4823943218
23.9360436442
26.4742992235
29.3626832685
32.6124842897
35.9291568759
39.8010125776
43.4557626679
48.1333827076

In [194]:

file13='AMZNput1m_binomial.csv'
data_13=pd.read_csv(file13)
data_13

    price_binomialEuro
0             1.037873
1             2.358073
2             4.008748
3             2.217483
4             2.612461
5             6.274499
6            10.916042
7            12.147337
8            13.399256
9            15.201478
10           17.002487
11           21.091714
12           23.439606
13           26.003810
14           28.786075
15           32.054111
16           35.248879
17           39.146335
18           42.653902
19           47.373195

In [202]:
file12='AMZNput1m_1.csv'
data_12=pd.read_csv(file12)
data_12['bid_price']=data_4['bid_price']
data_12['ask_price']=data_4['ask_price']
data_12['Euro']=data_13['price_binomialEuro']
data_12['American']=data_1A['American option']
data_12

     price_BS bid_price  ask_price       Euro   American
0    1.072544      2.21       3.85   1.037873   1.038634
1    2.424562       5.1       6.75   2.358073   2.359936
2    4.112518      7.45       9.80   4.008748   4.012537
3    2.312149      5.25       6.20   2.217483   2.220065
4    2.692706       5.4       6.90   2.612461   2.615212
5    6.427680      10.2      13.55   6.274499   6.280401
6   11.143090        16      20.30  10.916042  10.927533
7   12.445350      17.5      22.00  12.147337  12.161770
8   13.661991      19.2      23.50  13.399256  13.414623
9   15.590017     21.15      25.95  15.201478  15.220930
10  17.323966      23.3      28.05  17.002487  17.023279
11  21.482394     28.15      32.90  21.091714  21.119449
12  23.936044     30.95      35.70  23.439606  23.471000
13  26.474299      33.7      38.50  26.003810  26.040555
14  29.362683      36.9      41.65  28.786075  28.827553
15  32.612484      40.8      45.15  32.054111  32.102533
16  35.929157     43.85      48.60  35.248879  35.303727
17  39.801013     47.85      52.65  39.146335  39.209658
18  43.455763     51.55      56.30  42.653902  42.726180
19  48.133383     56.75      61.10  47.373195  47.455411

In [236]:
series11=data1['price']
series12=data1['price_BS']

KeyError: 'price'

In [113]:
error=abs(series11-series12)
error
#N=200

0     1.065781
1     1.024821
2     1.088205
3     1.076761
4     1.203606
5     1.210473
6     1.225492
7     1.178892
8     1.188373
9     1.117315
10    1.071802
11    0.912919
12    1.021734
13    0.949378
14    0.903297
15    0.868679
16    0.687866
17    0.781153
18    0.741884
19    0.698913
dtype: float64

In [36]:
filename='AMZNcallp1mall.csv'
f=open(filename,'w')

headers='50,100,150,200,250,300,350,400,BS\n'
f.write(headers)

for i,j in zip(iv_3,sp_3):
    
    K=j
    sigma=i
    callprice50=binom_tree_call(50,0.083,1390,i,0.0149,j,array_out=False)
    callprice100=binom_tree_call(100,0.083,1390,i,0.0149,j,array_out=False)
    callprice150=binom_tree_call(150,0.083,1390,i,0.0149,j,array_out=False)
    callprice200=binom_tree_call(200,0.083,1390,i,0.0149,j,array_out=False)
    callprice250=binom_tree_call(250,0.083,1390,i,0.0149,j,array_out=False)
    callprice300=binom_tree_call(300,0.083,1390,i,0.0149,j,array_out=False)
    callprice350=binom_tree_call(350,0.083,1390,i,0.0149,j,array_out=False)
    callprice400=binom_tree_call(400,0.083,1390,i,0.0149,j,array_out=False)

    
    K=j
    sigma=i
    callprice_1=C(i)


    
    f.write(str(callprice50)+','+str(callprice100)+','+str(callprice150)+','+str(callprice200)+','+str(callprice250)+','+str(callprice300)+','+str(callprice350)+','+str(callprice400)+','+str(callprice_1)+'\n')

f.close()

NameError: name 'binom_tree_call' is not defined

[1.1916,
 0.0,
 0.0,
 1.4723,
 1.1274,
 1.3799000000000001,
 1.0171999999999999,
 1.2924,
 0.9833,
 1.2085,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0920999999999998,
 0.0,
 1.0633,
 0.0,
 0.0,
 0.0]

In [45]:
binom_tree(50,0.167,1390,i,0.0149,j,call=True,array_out=False)

664.29930198031605

In [160]:
T=0.083
def P(sigma):
    d1=(np.log(S0/K)+(r+sigma**2/2)*T)/(sigma*np.sqrt(T))
    d2=d1-sigma*np.sqrt(T)
    P=K*norm.cdf(-d2)-S0*norm.cdf(-d1)
    return P

In [140]:


filename='AMZNcall3mall.csv'
f=open(filename,'w')

headers='50,100,150,200,250,300,350,400,BS\n'
f.write(headers)

for i,j in zip(iv_2,sp_2):

    K=j
    sigma=i
    callprice50=binom_tree(50,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice100=binom_tree(100,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice150=binom_tree(150,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice200=binom_tree(200,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice250=binom_tree(250,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice300=binom_tree(300,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice350=binom_tree(350,0.25,1390,i,0.0149,j,call=True,array_out=False)
    callprice400=binom_tree(400,0.25,1390,i,0.0149,j,call=True,array_out=False)

    putprice_4=C(i)



    
    f.write(str(callprice50)+','+str(callprice100)+','+str(callprice150)+','+str(callprice200)+','+str(callprice250)+','+str(callprice300)+','+str(callprice350)+','+str(callprice400)+','+str(putprice_4)+'\n')

f.close()

C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """
C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in double_scalars

In [141]:
file1al2='AMZNcall3mall.csv'
data_1al2=pd.read_csv(file1al2)
data_1al2

,50,100,150,200,250,300,350,400,BS
0,793.572992,793.626397,793.660627,793.696929,793.665950,793.659657,793.671233,793.680808,791.688711
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730.000000
3,772.675819,772.055448,771.930837,772.105960,772.258683,772.268200,772.101063,772.221590,770.348149
4,721.528104,721.243165,721.555620,721.532269,721.518860,721.519666,721.505024,721.452888,719.327421
5,732.856379,732.515636,732.399373,732.505091,732.565908,732.480467,732.374195,732.525665,730.503475
6,678.540274,678.324581,678.464239,678.393668,678.380008,678.403747,678.425808,678.419558,676.088706
7,692.937637,692.880665,692.773177,692.808562,692.776356,692.595080,692.714457,692.733054,690.619702
8,641.752160,641.866402,641.959482,642.026834,642.016076,641.974268,641.903095,642.005345,639.608033
9,652.830919,653.052351,652.953884,652.920286,652.797079,652.695006,652.862577,652.750955,650.608735
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.000000
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.000000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,550.000000
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.000000
14,592.779624,593.445604,593.361579,593.218140,593.069845,593.289730,593.218471,593.214024,590.873869
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520.000000
16,577.618978,578.386059,578.305589,578.137122,578.120792,578.277161,578.150872,578.224264,575.811220
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510.000000
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,505.000000
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.000000

In [142]:
series1_50=data_1al2['50']
series1_100=data_1al2['100']
series1_150=data_1al2['150']
series1_200=data_1al2['200']
series1_250=data_1al2['250']
series1_300=data_1al2['300']
series1_350=data_1al2['350']
series1_400=data_1al2['400']

series1_BS=data_1al2['BS']

In [143]:
error50=abs(series1_50-series1_BS)
error100=abs(series1_100-series1_BS)
error150=abs(series1_150-series1_BS)
error200=abs(series1_200-series1_BS)
error250=abs(series1_250-series1_BS)
error300=abs(series1_300-series1_BS)
error350=abs(series1_350-series1_BS)
error400=abs(series1_400-series1_BS)

In [144]:
data_1al2['err50']=error50
data_1al2['err100']=error100
data_1al2['err150']=error150
data_1al2['err200']=error200
data_1al2['err250']=error250
data_1al2['err300']=error300
data_1al2['err350']=error350
data_1al2['err400']=error400
data_1al2

,50,100,150,200,250,300,350,400,BS,err50,err100,err150,err200,err250,err300,err350,err400
0,793.572992,793.626397,793.660627,793.696929,793.665950,793.659657,793.671233,793.680808,791.688711,1.884281,1.937686,1.971916,2.008218,1.977238,1.970946,1.982522,1.992096
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,772.675819,772.055448,771.930837,772.105960,772.258683,772.268200,772.101063,772.221590,770.348149,2.327670,1.707300,1.582688,1.757811,1.910534,1.920052,1.752915,1.873442
4,721.528104,721.243165,721.555620,721.532269,721.518860,721.519666,721.505024,721.452888,719.327421,2.200683,1.915744,2.228200,2.204848,2.191439,2.192245,2.177603,2.125467
5,732.856379,732.515636,732.399373,732.505091,732.565908,732.480467,732.374195,732.525665,730.503475,2.352904,2.012161,1.895897,2.001616,2.062433,1.976992,1.870720,2.022189
6,678.540274,678.324581,678.464239,678.393668,678.380008,678.403747,678.425808,678.419558,676.088706,2.451568,2.235875,2.375533,2.304962,2.291302,2.315042,2.337102,2.330852
7,692.937637,692.880665,692.773177,692.808562,692.776356,692.595080,692.714457,692.733054,690.619702,2.317934,2.260963,2.153475,2.188860,2.156653,1.975378,2.094755,2.113351
8,641.752160,641.866402,641.959482,642.026834,642.016076,641.974268,641.903095,642.005345,639.608033,2.144127,2.258369,2.351449,2.418801,2.408043,2.366235,2.295062,2.397312
9,652.830919,653.052351,652.953884,652.920286,652.797079,652.695006,652.862577,652.750955,650.608735,2.222184,2.443616,2.345149,2.311551,2.188344,2.086271,2.253842,2.142220
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,550.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,592.779624,593.445604,593.361579,593.218140,593.069845,593.289730,593.218471,593.214024,590.873869,1.905754,2.571735,2.487710,2.344271,2.195975,2.415860,2.344602,2.340155
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,577.618978,578.386059,578.305589,578.137122,578.120792,578.277161,578.150872,578.224264,575.811220,1.807757,2.574839,2.494368,2.325901,2.309571,2.465941,2.339651,2.413043
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,505.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
import math

class Option(object):

    def __init__(self,s0,sigma,r,t,n,k,type=''):
        self.s0=s0
        self.sigma=sigma
        self.r=r
        self.t=t
        self.n=n
        self.k=k
        self.type=type


    def Am_price(self):
        time=float(self.t)/self.n
        u=math.exp(self.sigma*time**0.5)
        d=math.exp(-self.sigma*time**0.5)
        p=(math.exp(self.r*time)-d)/(u-d)
        pay=[]
        for i in range(self.n+1):
            if self.type=='Call':
                pay.append(max(((self.s0*u**(self.n-2*i))-self.k),0))
            elif self.type=='Put':
                pay.append(max((self.k-(self.s0*u**(self.n-2*i))),0))

        for j in range(self.n-1,-1,-1):
            ppay=[]
            qpay=[]
            for m in range(j+1):
                if self.type=='Call':
                    qpay.append((max(((self.s0*u**(j-2*m))-self.k),0)))
                elif self.type=='Put':
                    qpay.append((max((self.k-(self.s0*u**(j-2*m))),0)))
                ppay.append((pay[m]*p+pay[m+1]*(1-p))*math.exp(-self.r*time))

                pay[m]=max(qpay[m],ppay[m])
        return pay[0]

In [287]:
def f(x):
    if __name__ == '__main__':
        o=Option(s0=1390,sigma=x,r=0.0149,t=0.083,n=200,k=K,type='Put')
        return o.Am_price()-mktprice

In [273]:
def bisect2(a,b):
    while b - a >= 0.000001:
        mid= (a + b) / 2.
        if f(a)*f(mid) <=0:
            b = mid
        else:
            a = mid

    return (mid)

In [289]:
for q,w in zip(avrg_1a,sp_4):
    mktprice=q
    K=w
    print(bisect2(0.000001,2))

0.5396611839661599
0.4995954386181831
0.4773900969376563
0.41266997548913953
0.4033296939043999
0.46692638756990434
0.45777684075307845
0.452028094848156
0.4452970648884773
0.4438856276059151
0.4384439646773338
0.4307802417025567
0.42719824276113505
0.4233911767935753
0.41904814612817765
0.4183042805333138
0.4122961353440284
0.41016944268178934
0.40477355609750754
0.40535338979196556

In [199]:
if __name__ == '__main__':
    filename='AMZNput1mA.csv'
    f=open(filename,'w')

    headers='American option\n'
    f.write(headers)
    for i,j in zip(iv_4,sp_4):
    
        K=j
        sigma=i
        o=Option(s0=1390,sigma=i,r=0.0149,t=0.083,n=200,k=j,type='Put')

        f.write(str(o.Am_price())+'\n')

    f.close()

In [200]:
file1A='AMZNput1mA.csv'
data_1A=pd.read_csv(file1A)
data_1A

    American option
0          1.038634
1          2.359936
2          4.012537
3          2.220065
4          2.615212
5          6.280401
6         10.927533
7         12.161770
8         13.414623
9         15.220930
10        17.023279
11        21.119449
12        23.471000
13        26.040555
14        28.827553
15        32.102533
16        35.303727
17        39.209658
18        42.726180
19        47.455411

In [223]:
data1callf=data_1['bid_price']

In [155]:
data1callf=pd.DataFrame(data1callf)

In [222]:
data1callf['ask_price']=data_1['ask_price']
data1callf['price_BS']=data_1['price_BS']
data1callf['price_American option']=data_1A

0     15.328555
1     21.168195
2     26.509444
3     18.759309
4     19.996128
5     32.542581
6     42.214017
7     44.377212
8     46.137814
9     49.289999
10    51.749594
11    57.359890
12    60.507596
13    63.535541
14    66.933144
15    70.688455
16    74.249523
17    78.476105
18    81.991630
19    86.954216
Name: price_BS, dtype: float64

In [220]:
data1callf['price_Euro option']=data_1all['200']

In [224]:
data1callf

0     373.70
1     363.85
2     334.45
3     266.90
4     226.20
5     218.60
6     182.80
7     174.90
8     157.90
9     159.85
10    128.85
11    109.90
12    103.65
13     97.95
14     90.95
15     74.65
16     67.30
17     62.65
18     60.60
19     59.40
Name: bid_price, dtype: float64

In [204]:
series1a=data_12['ask_price']
series2a=data_12['bid_price']
avrg=(series1a+series2a)/2.
data_12['average price']=avrg
data_12

     price_BS bid_price  ask_price       Euro   American average price
0    1.072544      2.21       3.85   1.037873   1.038634          3.03
1    2.424562       5.1       6.75   2.358073   2.359936         5.925
2    4.112518      7.45       9.80   4.008748   4.012537         8.625
3    2.312149      5.25       6.20   2.217483   2.220065         5.725
4    2.692706       5.4       6.90   2.612461   2.615212          6.15
5    6.427680      10.2      13.55   6.274499   6.280401        11.875
6   11.143090        16      20.30  10.916042  10.927533         18.15
7   12.445350      17.5      22.00  12.147337  12.161770         19.75
8   13.661991      19.2      23.50  13.399256  13.414623         21.35
9   15.590017     21.15      25.95  15.201478  15.220930         23.55
10  17.323966      23.3      28.05  17.002487  17.023279        25.675
11  21.482394     28.15      32.90  21.091714  21.119449        30.525
12  23.936044     30.95      35.70  23.439606  23.471000        33.325
13  26.474299      33.7      38.50  26.003810  26.040555          36.1
14  29.362683      36.9      41.65  28.786075  28.827553        39.275
15  32.612484      40.8      45.15  32.054111  32.102533        42.975
16  35.929157     43.85      48.60  35.248879  35.303727        46.225
17  39.801013     47.85      52.65  39.146335  39.209658         50.25
18  43.455763     51.55      56.30  42.653902  42.726180        53.925
19  48.133383     56.75      61.10  47.373195  47.455411        58.925

In [237]:
series1a=data1['ask_price']
series2a=data1['bid_price']
avrg=(series1a+series2a)/2.
data1['average price']=avrg
data1

C:\Users\apple\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,contract_name,last_trade_date,strike_price,last_price,bid_price,ask_price,implied_volatility,average price
0,AMZN180323C01060000,2018-02-02 11:46PM EST,1060.0,385.90,373.70,378.70,92.12%,376.200
1,AMZN180323C01070000,2018-02-02 11:46PM EST,1070.0,396.30,363.85,368.85,90.16%,366.350
2,AMZN180323C01100000,2018-02-02 11:46PM EST,1100.0,379.70,334.45,339.45,84.42%,336.950
3,AMZN180323C01170000,2018-02-02 11:46PM EST,1170.0,261.55,266.90,271.90,71.89%,269.400
4,AMZN180323C01190000,2018-02-05 12:22PM EST,1190.0,258.05,226.20,231.20,53.17%,228.700
5,AMZN180323C01200000,2018-02-05 9:32AM EST,1200.0,214.75,218.60,223.55,53.13%,221.075
6,AMZN180323C01240000,2018-02-05 10:10AM EST,1240.0,212.00,182.80,187.60,50.16%,185.200
7,AMZN180323C01250000,2018-02-05 2:58PM EST,1250.0,179.65,174.90,179.90,49.71%,177.400
8,AMZN180323C01270000,2018-02-05 2:52PM EST,1270.0,173.70,157.90,162.90,47.63%,160.400
9,AMZN180323C01290000,2018-02-02 11:46PM EST,1290.0,178.50,159.85,164.20,54.58%,162.025
10,AMZN180323C01310000,2018-02-05 9:43AM EST,1310.0,127.70,128.85,133.65,45.55%,131.250
11,AMZN180323C01340000,2018-02-05 1:37PM EST,1340.0,129.75,109.90,113.85,44.34%,111.875
12,AMZN180323C01350000,2018-02-05 11:40AM EST,1350.0,122.33,103.65,107.00,43.65%,105.325
13,AMZN180323C01360000,2018-02-05 12:34PM EST,1360.0,120.20,97.95,102.30,43.97%,100.125
14,AMZN180323C01370000,2018-02-05 1:31PM EST,1370.0,108.10,90.95,95.50,43.13%,93.225
15,AMZN180323C01400000,2018-02-05 1:44PM EST,1400.0,90.44,74.65,78.20,41.65%,76.425
16,AMZN180323C01415000,2018-02-05 3:05PM EST,1415.0,70.00,67.30,71.25,41.45%,69.275
17,AMZN180323C01425000,2018-02-05 2:52PM EST,1425.0,71.40,62.65,66.80,41.29%,64.725
18,AMZN180323C01430000,2018-02-05 2:48PM EST,1430.0,69.77,60.60,64.90,41.34%,62.750
19,AMZN180323C01432500,2018-02-05 2:55PM EST,1432.5,61.50,59.40,63.70,41.23%,61.550

In [258]:
def C2(sigma):
    C2=o.Am_price()-mktprice
    return C2

In [288]:
avrg1a=np.array(data_12['average price'])
avrg_1a=avrg1a.tolist()
avrg_1a

[3.0300000000000002,
 5.925,
 8.625,
 5.725,
 6.15,
 11.875,
 18.15,
 19.75,
 21.35,
 23.549999999999997,
 25.675,
 30.525,
 33.325,
 36.1,
 39.275,
 42.974999999999994,
 46.225,
 50.25,
 53.925,
 58.925]

In [261]:
avrg11a=np.array(data1['average price'])
avrg_11a=avrg11a.tolist()

In [ ]:
def P2(sigma):
    P2=o.Am_price()-mktprice
    return P2

In [228]:
from math import sqrt

In [229]:
def sqrt_newton(num):  
    x=sqrt(num)  
    y=num/2.0  
    count=1  
    while abs(y-x)>0.00000001:  
        print (count,y)  
        count+=1  
        y=((y*1.0)+(1.0*num)/y)/2.0000  
    return y  
  
print(sqrt_newton(5))  
print(sqrt(5))

1 2.5
2 2.25
3 2.236111111111111
2.2360679779158037
2.23606797749979

-30.14461628894034

In [291]:
import math


class StockOption(object):

    def __init__(self, S0, K, r, T, N, params):
        self.S0 = S0
        self.K = K
        self.r = r
        self.T = T
        self.N = max(1, N) # Ensure N have at least 1 time step
        self.STs = None  # Declare the stock prices tree

        """ Optional parameterss used by derived classes """
        self.pu = params.get("pu", 0)  # Probability of up state
        self.pd = params.get("pd", 0)  # Probability of down state
        self.div = params.get("div", 0)  # Divident yield
        self.sigma = params.get("sigma", 0)  # Volatility
        self.is_call = params.get("is_call", True)  # Call or put
        self.is_european = params.get("is_eu", True)  # Eu or Am

        """ Computed values """
        self.dt = T/float(N)  # Single time step, in years
        self.df = math.exp(
            -(r-self.div) * self.dt)  # Discount factor

In [292]:
import math
import numpy as np


class BinomialTreeOption(StockOption):

    def _setup_parameters_(self):
        self.u = 1 + self.pu  # Expected value in the up state
        self.d = 1 - self.pd  # Expected value in the down state
        self.qu = (math.exp((self.r-self.div)*self.dt) -
                   self.d)/(self.u-self.d)
        self.qd = 1-self.qu

    def _initialize_stock_price_tree_(self):
        # Initialize a 2D tree at T=0
        self.STs = [np.array([self.S0])]

        # Simulate the possible stock prices path
        for i in range(self.N):
            prev_branches = self.STs[-1]
            st = np.concatenate((prev_branches*self.u,
                                 [prev_branches[-1]*self.d]))
            self.STs.append(st)  # Add nodes at each time step

    def _initialize_payoffs_tree_(self):
        # The payoffs when option expires
        return np.maximum(
            0, (self.STs[self.N]-self.K) if self.is_call
            else (self.K-self.STs[self.N]))

    def __check_early_exercise__(self, payoffs, node):
        early_ex_payoff = \
            (self.STs[node] - self.K) if self.is_call \
            else (self.K - self.STs[node])

        return np.maximum(payoffs, early_ex_payoff)

    def _traverse_tree_(self, payoffs):
        for i in reversed(range(self.N)):
            # The payoffs from NOT exercising the option
            payoffs = (payoffs[:-1] * self.qu +
                       payoffs[1:] * self.qd) * self.df

            # Payoffs from exercising, for American options
            if not self.is_european:
                payoffs = self.__check_early_exercise__(payoffs,
                                                        i)

        return payoffs

    def __begin_tree_traversal__(self):
        payoffs = self._initialize_payoffs_tree_()
        return self._traverse_tree_(payoffs)

    def price(self):
        self._setup_parameters_()
        self._initialize_stock_price_tree_()
        payoffs = self.__begin_tree_traversal__()

        return payoffs[0]

if __name__ == "__main__":

    am_option = BinomialTreeOption(
        50, 50, 0.05, 0.5, 2,
        {"pu": 0.2, "pd": 0.2, "is_call": False, "is_eu": False})
    print (am_option.price())

5.11306008282

In [293]:
if __name__ == "__main__":

    am_option = BinomialTreeOption(
        1390, 1060, 0.0149, 0.083, 200,
        {"pu": 0.2, "pd": 0.2, "is_call": False, "is_eu": False})
    print (am_option.price())

873.144889869

In [295]:
import math
import numpy as np


class TrinomialTreeOption(BinomialTreeOption):

    def _setup_parameters_(self):
        """ Required calculations for the model """
        self.u = math.exp(self.sigma*math.sqrt(2.*self.dt))
        self.d = 1/self.u
        self.m = 1
        self.qu = ((math.exp((self.r-self.div) *
                             self.dt/2.) -
                    math.exp(-self.sigma *
                             math.sqrt(self.dt/2.))) /
                   (math.exp(self.sigma *
                             math.sqrt(self.dt/2.)) -
                    math.exp(-self.sigma *
                             math.sqrt(self.dt/2.))))**2
        self.qd = ((math.exp(self.sigma *
                             math.sqrt(self.dt/2.)) -
                    math.exp((self.r-self.div) *
                             self.dt/2.)) /
                   (math.exp(self.sigma *
                             math.sqrt(self.dt/2.)) -
                    math.exp(-self.sigma *
                             math.sqrt(self.dt/2.))))**2.

        self.qm = 1 - self.qu - self.qd

    def _initialize_stock_price_tree_(self):
        """ Initialize a 2D tree at t=0 """
        self.STs = [np.array([self.S0])]

        for i in range(self.N):
            prev_nodes = self.STs[-1]
            self.ST = np.concatenate(
                (prev_nodes*self.u, [prev_nodes[-1]*self.m,
                                     prev_nodes[-1]*self.d]))
            self.STs.append(self.ST)

    def _traverse_tree_(self, payoffs):
        """ Traverse the tree backwards """
        for i in reversed(range(self.N)):
            payoffs = (payoffs[:-2] * self.qu +
                       payoffs[1:-1] * self.qm +
                       payoffs[2:] * self.qd) * self.df

            if not self.is_european:
                payoffs = self.__check_early_exercise__(payoffs,
                                                        i)

        return payoffs

if __name__ == "__main__":

    print ("European put:", TrinomialTreeOption(50, 50, 0.05, 0.5, 2, {"sigma": 0.3, "is_call": False}).price())
    print ("American put:", TrinomialTreeOption(50, 50, 0.05, 0.5, 2,  {"sigma": 0.3, "is_call": False, "is_eu": False}).price())

European put: 3.33090549176
American put: 3.48241453902

In [296]:
if __name__ == "__main__":

    print ("European put:", TrinomialTreeOption(50, 50, 0.05, 0.5, 2, {"sigma": 0.3, "is_call": False}).price())
    print ("American put:", TrinomialTreeOption(1390, 1060, 0.0149, 0.083, 200,  {"sigma": 0.4519, "is_call": False, "is_eu": False}).price())

European put: 3.33090549176
American put: 1.03994841527